$green:#60BC76;
$light-green:#6BC180;
$dark-blue:#2D3047;
$dark-blue2:#161B25;
$light-blue:#49AFD8;
$gold:#D8C700;
$gray:#656677;
$dark-gray:#494848;
$brown:#625555;
$rose:#EE0064;
$dark-rose:#A22D5E;
$light-rose:#E083AA;
$olive:#46AFA5;
$dark-olive:#15363F;
$light-olive:#77F6D9;
$orange:#FC633F;
$yellow:#FFB51F;